{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/style/passwordreset.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <title>Reset password</title>
</head>
<body>

  <style>
    body{
      background-image: url("{% static '/images/background2.png' %}");
    }
  </style>

    <section class="login-section" id="Login">
        <article class="container">
            <div class="log">
                <div class="logo-container">
                    <img src="{% static '/images/air.jpg' %}" alt="Company Logo">
                </div>
                
                <div class="form-container">
                    <h1 class="password-reset-title">Password Reset</h1>
                    
                    <form class="login-form" action="" method="post">
                        {% csrf_token %}
                        
                        
                        <div class="form-group">
                            {{ form.email.label_tag }}
                            {{ form.email }}
                        </div>
                        
                        
                        
                        <button type="submit" class="login-btn">Reset password</button>
                      
                    </form>
                    
                    <div class="footer-link">
                        <a href="{% url 'login' %}">Back to sign in</a>
                    </div>
                </div>
            </div>
        </article>
    </section>
</body>
</html>






 
  
