

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/style/password_reset_complete.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>Password reset complete</title>
</head>
<body>


    <style>
        body{
            background-image: url("{% static '/images/background.jpg' %}");
      
           
        }
    </style>

    <div class="background-overlay"></div>

    <main class="password-change-container">
        <div class="card">
            <div class="card-header">
                <div class="logo-container">
                    <img src="{% static '/images/air.jpg' %}" alt="Company Logo" class="logo">
                </div>
                <div class="success-icon">
                    <i class="fas fa-check-circle"></i>
                </div>
                <h1 class="title">Password reset complete</h1>
            </div>
            
            <div class="card-body">
                <p class="message"> Your new password has been set. You can log in now on the.</p>
                
                <div class="action-buttons">
                    <a href="{% url 'login' %}" class="btn btn-primary">
                        <i class="fas fa-sign-in-alt"></i> Log In page</a>
                </div>
            </div>
            
            
        </div>
    </main>
</body>
</html>


