
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/style/password_reset_confirm.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <title>Password Reset Confirm</title>
</head>
<body>

<style>
    body {
        background-image: url("{% static '/images/background2.png' %}");
    }
</style>

<section class="login-section" id="Login">
    <article class="container">
        <div class="log">
            <div class="logo-container">
                <img src="{% static '/images/air.jpg' %}" alt="Company Logo">
            </div>

            <div class="form-container">
                <h1 class="password-reset-title">Set a new password!</h1>


                <form class="login-form" method="post">
                    {% csrf_token %}
                
                    <div class="form-group">
                        {{ form.new_password1.label_tag }}
                        {{ form.new_password1 }}
                        {% if form.new_password1.errors %}
                        <div class="error">{{ form.new_password1.errors }}</div>
                        {% endif %}
                    </div>
                
                    <div class="form-group">
                        {{ form.new_password2.label_tag }}
                        {{ form.new_password2 }}
                        {% if form.new_password2.errors %}
                        <div class="error">{{ form.new_password2.errors }}</div>
                        {% endif %}
                    </div>
                
                    <input class="login-btn" type="submit" value="Change my password"/>
                </form>

                <div class="footer-link">
                    <a href="{% url 'login' %}">Back to sign in</a>
                </div>
            </div>
        </div>
    </article>
</section>
</body>
</html>

