<h2>Booking Details</h2>
<p>Offer: {{ booking.offer.title }}</p>
<p>People: {{ booking.num_people }}</p>
<p>Total Price: {{ booking.total_price }}</p>
<p>Status: {{ booking.status }}</p>
{% if booking.status == "Pending" %}
<a href="{%url  'pay_create' booking.offer_id booking.pk %}">pay my booking</a>
<a href="{%url 'booking_update'  booking.pk %}">update booking</a>
<a href="{%url 'booking_delete'  booking.pk %}">delete booking</a>
{% else %}
<a href="{% url 'pay_detail' pk=booking.id pay_id=booking.payment.id %}">check payment details</a>
{% endif %}