
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/style/booking_delete.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <title>review delete</title>
</head>
<body>

    <style>
        body{
          background-image: url("{% static '/images/airport-terminal.jpg' %}");
        }
      </style>

    <section class="login-section" id="Login">
        <article class="container">
            <div class="log">
                <div class="logo-container">
                    <img src="{% static '/images/air.jpg' %}" alt="Company Logo">
                </div>
                
                <h1>Cancel Booking</h1>
                <p>Are you sure you want to cancel this booking?</p>

                <form method="POST">
                {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Yes , delete booking</button>
                    <a href="/offers/bookings/" class="btn btn-secondary">Cancel</a>
                </form>
                    
                </div>
            </div>
        </article>
    </section>
</body>
</html>

