<html>
    <head>
        <title>this is the base.html</title>
    </head>
    <body>
        <header>
            <h1><a href="{% url 'offers_list' %}">the logo may be here</a></h1>
        </header>
        {% if user.is_authenticated %}
        <p>hi {{user.username}}</p>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">logout</button>
        </form>
        <p>wanna change passowrd ? </p>
        <a href="accounts/password_change">change my passowrd</a>
        {% else %}
        <p>sign up</p>
        <a href=" {% url 'signup' %}">sign up</a>
        <p>you are not logged in </p>
        <a href="{% url 'login' %}">Log in</a>
        <p>forgot your password ? </p>
        <a href="{% url 'password-reset' %}">Reset Password</a>
        
        {% endif %}
        <div>
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>