<h1>{{offer.title}}</h1>
<pre>
{{offer.description}}
{{offer.destination}}
{{offer.price}}
{{offer.duration}}
{{offer.available_from}}
{{offer.available_to}}
{{offer.max_people}}
{{offer.created_at}}
</pre>
<p>{{ offer.image.url }}</p>
<img src="{{ offer.image.url }}" alt="Offer Image">
{% for review in offer.reviews.all %} 
<div>
    <h5>{{review.title}}</h5>
    <p>author: {{review.author}}</p>
    <p>rating: {{review.rating}}</p>
    <p>{{review.created_at}}</p>
    <p>{{review.comment}}</p>
    <hr>
</div>
{%endfor%}

