{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>this is where to show offers (homepage)</h1>
 <a href="{% url 'offer_search' %}" >
    <button type="button">Search Offers</button>
</a>
{% for offer in object_list %}
<a href="{% url 'offer_detail' offer.pk %}"><h1>{{offer.title}}</h1></a>
<h1>{{offer.description}}</h1>
<h1>{{offer.destination}}</h1>
<h1>{{offer.price}}</h1>
<h1>{{offer.duration}}</h1>
<h1>{{offer.available_from}}</h1>
<h1>{{offer.available_to}}</h1>
<h1>{{offer.max_people}}</h1>
<h1>{{offer.created_at}}</h1>
<!-- for test -->
<p>{{ offer.image.url }}</p>
<img src="{% static offer.image %}" >

<a href="{% url 'review_create' offer.pk %}">add review</a>
<h3>reviews : </h3>
{% for review in offer.reviews.all %} 
<div>
    <h5>{{review.title}}</h5>
    <p>author: {{review.author}}</p>
    <p>rating: {{review.rating}}</p>
    <p>{{review.created_at}}</p>
    <p>{{review.comment}}</p>
    <hr>
</div>
{%endfor%}
<hr>
{% endfor %}
{% endblock content %}